POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=advanced_file_manager
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

JWT_SECRET=change-me
COOKIE_SECRET=change-me

CORS_ORIGIN=

STORAGE_DIR=./storage
